@charset "UTF-8";

#comment_area{
	position: relative;
	width: 690px;
	height: 100px;
}

#disp{
	margin-bottom: 30px;
}

#wrap_content{
	position:relative;
	height: 70px;
	border-bottom: 1px solid #c0c0c0;
}

#div_content{
	float: left;
}

#div_content .alert-success{
	opacity: 0.2;
}

#comment_content{
	width: 600px;
	height: 40px;
	resize: none;
	border: 1px solid #999;
	border-radius: 5px;
}

#div_btn{
	margin-left: 2%;
	float: left;
	border: 1px solid #ddd;
	border-radius: 10px;
}

#div_btn input[value='글쓰기']{
	padding: 0;
}

#div_btn .btn{
	width: 60px;
	height: 40px;
}

/* board_comment_list */
#wrap_list_comment{
	clear: both;
	padding: 15px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

#list_comment{
	position: relative;
}

#list_comment .box_content_comment{
	font-size: 13px;
}

#list_comment .author_content_comment{
	width: 10%;
	color: #111;
	float:left;
}

#list_comment .regdate_content_comment{
	width: 20%;
	color: #111;
	float:right;
}

#list_comment .btn-danger{
	width: 20px;
	height: 20px;
	float:right;
	padding: 0;
}

#list_comment .main_content_comment{
	width: 75%;
	font-size: 13px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #777;
}

#paging_comment{
	margin-top: 10px;
	text-align: center;
}

.clearfix:before, .clearfix:after {display: block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}